html {
  height: 100%;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../Images/Ninearch.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.login-form {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: #eb2f06;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link p {
  margin-bottom: 5px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 400;
}

.register-link a:hover {
  text-decoration: underline;
}